.nav-container{
        display: flex;
        justify-content: center;
        height: 149px;
        color: var(--white);
}
.nav-parent{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 70%;
    color: var(--white);
}
 span a {
    color: white;
    text-decoration: none;
    background-color: transparent;
}
 span a:hover{
    text-decoration: none;
}
.header-logo{
    font-size: 50px;
    font-weight: 500;
     font-family: "Poppins ExtraBold";
    color: var(--white);
}
.header-options {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}
.header-option :hover {
    color: tomato;
}

.header-option {
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: 600;
}
.header-option-seperator {
    margin: 0 50px 0 0;
    color: var(--white);
}
.header-hamburger{
    display: none;
}
.selected-header-option a {
    color: var(--dark-orange);
    
}

/* .header-hamburger {
    display: none;
    /* color: var(--white); */
/* } */ 

svg:not(:root).svg-inline--fa {
    overflow: visible;
}
.svg-inline--fa.fa-w-14 {
    width: 0.875em;
}
/* @media only screen and (max-width: 1200px){
.header-options{
margin-left: 1vh;
/* } */

/* } */ 
@media only screen and (max-width: 970px){
   .header-hamburger{
       z-index: 2;
   }
    .header-hamburger-bars {
        font-size: 36px;
        cursor: pointer;
        margin: 0 10px;
        color: var(--white);
        z-index: 2;
    }
 
}
.svg-inline--fa {
    display: inline-block;
    /* font-size: inherit; */
    height: 1em;
    /* overflow: visible; */
    vertical-align: -0.125em;
}
@media only screen and (max-width: 1200px){
  .header-logo{
      margin-right: 50px;
  }
}
@media only screen and (max-width: 970px){

    .header-hamburger {
        display: block;
    }
}
@media only screen and (max-width: 970px){
    .nav-parent {
        width: 100%;
        padding: 0 40px;
        position: relative;
    }
}
@media only screen and (max-width: 970px){

    .header-options {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: -100%;
        transition: all .8s ease-out;
        top: 0;
        height: 100vh;
        width: 100%;
        justify-content: space-around;
        background-color: #1f2235;
        z-index: 1;
        opacity: .5;
    }
}

@media only screen and (max-width: 970px){

    .selected-header-option {
        color: var(--white);
    }
}
@media only screen and (max-width: 970px){

    .header-option-seperator {
        margin: 0;
    }
}
@media only screen and (max-width: 970px){
.show-hamburger-options {
    left: 0;
    opacity: 1;
}
}

/* 
.nav li {
    padding: 12px 20px;
    font-size: 2rem;
}
ul{
    padding: 30px;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
}
a{
    text-decoration: none;
} */