.resume-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* min-height: -webkit-fit-content; */
    /* min-height: -moz-fit-content; */
    min-height: fit-content;
    margin: 120px 0;
}
.heading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 0 50px;
}
.screen-heading {
    font-size: 32px;
    color: #1f2235;
    font-family: "Poppins Bold";
}
.screen-sub-heading {
    letter-spacing: 3px;
    margin: 8px 0 10px;
    font-size: 12px;
    color: var(--black);
}
.heading-seperator {
    display: flex;
    align-items: center;
    position: relative;
    width: 180px;
    margin: 10px 0 0;
}
.seperator-line {
    width: 100%;
    height: 2px;
    background-color: #1f221f;
}
.seperator-blob {
    height: 10px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
}
.resume-card {
    display: flex;
    height: 360px;
    width: 1000px;
    overflow: hidden;
}
.resume-bullets {
    box-shadow: 15px 0 9px -15px #1f2235;
    height: 100%;
    width: 320px;
}
.bullet-container {
    display: flex;
    align-items: center;
    height: 100%;
    /* width: 35vh; */
    position: relative;
}
.bullet-icons {
    width: 34px;
    height: 100%;
    z-index: 1;
    background-color: #1f2235;
    position: absolute;
}
@media only screen and (max-width: 1023px){

    .bullets {
        width: 90%;
    }
    .selected-bullet{
        width: 200%;
    }
}

.bullets {
    width: 86%;
    position: relative;
    z-index: 2;
}

/* @media only screen and (max-width: 1023px){
    .selected-bullet {
        width: 200%;
    }   
} */
.selected-bullet {
    color: var(--white);
    /* color: tomato; */
    font-weight: 800;
    /* position: absolute; */
    /* background-color: #1f221f;
     */
     background-color: #1f2235;
    width: 113%;
    transition: all .6s ease;
}
.bullet {
    display: flex;
    align-items: center;
    cursor: pointer;
    /* background-color: #1f2235; */
    height: 40px;
    margin: 15px 0;
    padding: 0 8px;
    border-radius: 20px;
    /* width: 30px; */
    transition: width .6s ease;
    color: black;
}
a{
    color: black;
    
}
a:hover{
    text-decoration: none;
    color: tomato;
}
.bullet-logo {
    height: 16px;
    margin: 0 30px 0 0;
}
img {
    vertical-align: middle;
    border-style: none;
}

.bullet-label {
    font-size: 1.2rem;
    white-space: nowrap;
    font-family: 'FontAwesome';
    font-weight: 700;
}
.resume-main-heading span {
    color: var(--dark-orange);
    font-size: 16px;
    font-family:fantasy;
}

.resume-bullet-details {
    flex-grow: 1;
    width: 600px;
    /* overflow: hidden; */
    overflow: auto;
    padding: 0 0 0 80px;
    scroll-behavior: smooth;
}
.resume-details-carousal {
    /* transition: -webkit-transform 1s ease-out;
    transition: transform 1s ease-out; */
    transition: transform 1s ease-out,-webkit-transform 1s ease-out;
}
.resume-heading, .resume-screen-container {
    display: flex;
    flex-direction: column;
    padding-left: 34px;
}

.resume-screen-container {
    justify-content: space-evenly;
    height: 360px;
    width: 100%;
}
.resume-screen-container.active{
    display: inline-block;
}
.resume-main-heading {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.heading-bullet {
    position: absolute;
    left: -30px;
    height: 15px;
    width: 15px;
    top: 13px;
    border-radius: 50%;
    background-color: #ff5823;
}
.heading-date {
    background-color: #ff5823;
    padding: 4px 12px;
    font-size: 14px;
    border-radius: 14px;
    color: var(--white);
}
.resume-sub-heading {
    font-size: 1rem;
    font-family: "Poppins SemiBold";
    color: var(--black);
    margin: 10px 0 0;
    font-weight: 700;
}
.resume-heading-description {
    font-size: 16px;
    text-align: justify;
}
.programming-skills-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 6vh;
    font-size: 1.1rem;
}
.skill-parent {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
}
.heading-bullet {
    position: absolute;
    left: -30px;
    height: 15px;
    width: 15px;
    top: 5px;
    border-radius: 50%;
    background-color: #ff5823;
}
.resume-bullets-details{
    overflow: hidden;
    scroll-behavior: smooth;
}
.skill-percentage {
    position: relative;
    height: 15px;
    width: 70%;
    background-color: #ff5823;
}
.skill-percentage .active-percentage-bar {
    height: 15px;
    transition: .8s ease;
    position: absolute;
    background-color: #1f2235;
}


/* @media only screen and (max-width: 1920px  ) and (min-width:1023px){
    a{
        pointer-events: none;
    }
} */
@media only screen and (max-width: 1023px){

    .resume-bullet-details {
        height: 360px;
        padding: 0;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        position: relative;
    }
}
/* @media only screen and (max-width: 1110px){

    .resume-bullet-details {
        padding: 0 0 0 70px;
    }
} */

@media only screen and (max-width: 1023px){
    .resume-bullets {
        margin: 30px 0;
        width: 100%;
        position: relative;
    }
    .resume-details-carousal{
        height: 360px;
        overflow:hidden;
        position: relative;
        scroll-behavior: smooth;
    }
}
@media only screen and (max-width: 475px){
    .skill-parent{
        height: 38px;
    }
  

}
@media only screen and (max-width: 1023px){
.resume-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
}
@media only screen and (max-width: 675px){
    .resume-screen-container {
        /* height: 400px; */
        position: relative;
    }
    #skil{
        height: 367px;
    }
    #pro{
        height: 1171px;
        display: initial;
        left: 29px;
    }
    #int{
        flex-shrink: 1;
    }
}
@media only screen and (max-width: 414px){
    .resume-details-carousal{
        overflow: scroll;
    }
}
@media only screen and (max-width: 412px){

.resume-heading{
    width: 341px;
    margin-left: -40px;
    display: flex;

}
#re1,#re2, #re3{
    font-size: 12px;
}
#f1,#f2,#f3{
    height: 23px;
}
 #net, #per{
    font-size: 13px;
}
#ele{
    font-size: 14px;
}
#tech1,#tech2,#tech3{
    font-size: 13px;
    font-weight: 700;
}
#d1,#d2 ,#digit{
    font-size: 13px;
}


}
@media only screen and (max-width: 453px){

    #pro{
       
        left: 50px;
    }
    #int{
           width: 348px;
    display: flow-root;
    }
    .heading-date{
        margin-right: 71px;
    }
}
@media only screen and (max-width: 1110px){

    .resume-card {
        width: 880px;
        position: relative;
    }
}
@media only screen and (max-width: 1023px){
    .programming-skills-container{
        padding-left: 7vh;
        position: relative;
    }
    .resume-card {
        /* height: -webkit-fit-content; */
        /* height: -moz-fit-content; */
        height: fit-content;
        display: flex;
        flex-direction: column;
        margin: 30px 0;
        align-items: center;
        width: 90%;
        position: relative;
    }
}
/* @media only screen and (max-width: 1110px){
    .resume-card {
        /* width: 880px; */
    /* } */
/* } */