.footer-contianer{
    height: 17.8%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
}
.footer-parents{
    width: 100%;
    height: 100%;
    max-width: 1980px;
}
.footer-parents  img{
    width: 220vh;
    height: 130px;
    position: relative;
    top: 1vh;
}

@media only screen and (max-width:1110px ){
    .footer-parents{
        display: flex;
        align-items: flex-end;
    }

    
}